#RewriteEngine Off

Options -Indexes

<IfModule mod_mime.c>
 	AddType application/x-javascript .js
 	AddType text/css .css
</IfModule>

BrowserMatch ^Mozilla/4 gzip-only-text/html
BrowserMatch ^Mozilla/4\.0[678] no-gzip
BrowserMatch \bMSIE !no-gzip !gzip-only-text/html 

<IfModule mod_deflate.c>
 	SetOutputFilter DEFLATE

	<IfModule mod_setenvif.c>
   		SetEnvIfNoCase Request_URI \.(?:rar|zip)$ no-gzip dont-vary
   		SetEnvIfNoCase Request_URI \.(?:gif|jpg|png)$ no-gzip dont-vary
   		SetEnvIfNoCase Request_URI \.(?:avi|mov|mp4)$ no-gzip dont-vary
   		SetEnvIfNoCase Request_URI \.mp3$ no-gzip dont-vary
	</IfModule>

	<IfModule mod_headers.c>
		Header append Vary User-Agent env=!dont-vary
	</IfModule>
</IfModule>

# Cache Control Settings
<FilesMatch ".(ico|pdf|flv|jpg|jpeg|png|gif|js|css|swf)$">
	#Header set Cache-Control "max-age=1333600, public"
</FilesMatch>

<FilesMatch ".(xml|txt)$">
	Header set Cache-Control "max-age=1333600, public, must-revalidate"
</FilesMatch>

<FilesMatch ".(html|htm)$">
	Header set Cache-Control "max-age=1333600, must-revalidate"
</FilesMatch>

## EXPIRES CACHING ##
<IfModule mod_expires.c>
	ExpiresActive On
	ExpiresByType image/jpg "access plus 1 year"
	ExpiresByType image/jpeg "access plus 1 year"
	ExpiresByType image/gif "access plus 1 year"
	ExpiresByType image/png "access plus 1 year"
	ExpiresByType text/css "access plus 1 month"
	ExpiresByType application/pdf "access plus 1 month"
	ExpiresByType text/x-javascript "access plus 1 month"
	ExpiresByType application/x-shockwave-flash "access plus 1 month"
	ExpiresByType image/x-icon "access plus 1 year"
	ExpiresDefault "access plus 2 days"
</IfModule>
## EXPIRES CACHING ##